[submodule "public"]
	path = public
	url = https://github.com/laderast/laderast.github.io
	branch = master
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
